<div class="table-responsive" data-pattern="priority-columns">
  <table cellspacing="0" id="tech-companies-2" class="table table-small-font table-bordered table-striped">
    <thead>
      <tr>
        <th>Passport</th>
        <th>Visa Type</th>          
        <th>Unique No</th>
        <th style="text-align:center;">Status</th>
      </tr>
    </thead>
    <tbody>  
      <% @visas.each do |visa|%>
        <tr>
        <td><%= visa.passport.number %></td>
          <td><%= visa.visa_type.capitalize %></td>
          <td><%= visa.unique_number %></td>              
          <td> 
            <%= form_tag change_status_passport_path(visa.passport, visa), remote: true, style: "width:150px;" do %>
              <%= select_tag :status, options_for_select(Visa::STATUS, visa.status), :class => "col-sm-1 form-control" %>&nbsp;&nbsp;
              <%= submit_tag 'Change Status', class: "btn btn-primary" %>&nbsp;&nbsp;
                <%= link_to "Delete", delete_visa_passport_path(visa.passport, visa), data: {confirm: "Are you sure", method: :delete}, title: "Delete Visa", class: "btn btn-danger" %>
              <%end%>
            </td>

          </tr>
        <%end%>

      </tbody>
    </table>
  </div>